/* ==========================================================================
   Grid System
   ========================================================================== */

.container {
  width: 100%;
  max-width: $mw-container;
  margin-left: auto;
  margin-right: auto;
  @include mq(1312px) {
    max-width: initial;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include small {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include retina {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main-site {
  width: 100%;
  padding-top: 72px;
  > div:not(.hero-banner, .about-popup) {
    transition: filter 0.5s cubic-bezier(0, 0, 0.5, 1) 100ms;
    .page--leave & {
      filter: blur(10px);
      opacity: 0;
      transition: filter 0.5s cubic-bezier(0, 0, 0.5, 1), opacity 0.75s cubic-bezier(0, 0, 0.5, 1);
    }
  }
  > div.hero-banner {
    .page--leave & {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0, 0, 0.5, 1);
    }
  }
  &.main-site--hide {
    > div:not(.hero-banner) {
      filter: blur(10px);
    }
  }

  .page--home & {
    padding-top: 0;
  }
  @include x-small {
    padding-top: 64px;
  }
}
