/* ==========================================================================
   About Vision Mission
   ========================================================================== */

.about-vm {
  position: relative;
  padding: 96px 0 64px;
  @include large {
    padding: 80px 0 56px;
  }
  @include medium {
    padding: 64px 0 48px;
  }
  @include small {
    padding: 48px 0 40px;
  }
  @include x-small {
    padding: 32px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include medium {
      flex-direction: column;
    }
  }
  &__img {
    $vmi: &;
    flex: 1;
    font-size: 0;
    margin-right: 56px;
    @include large {
      width: 50%;
      margin-right: 40px;
    }
    @include medium {
      width: 100%;
      margin: 0 0 24px;
    }
    &__el {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      @include radius(md);
      @include x-small {
        height: 154px;
      }
      @include retina {
        height: 128px;
      }
    }
    &__item {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      padding-right: 24px;
      @include small {
        padding-right: 16px;
      }
      @include x-small {
        padding-right: 12px;
      }
      &:first-child {
        #{$vmi} {
          &__el {
            &:nth-child(1) {
              margin-bottom: 24px;
              @include small {
                margin-bottom: 16px;
              }
              @include x-small {
                margin-bottom: 12px;
              }
            }
            &:nth-child(2) {
              height: 240px;
              @include medium {
                height: 200px;
              }
              @include x-small {
                height: 154px;
              }
              @include retina {
                height: 128px;
              }
            }
          }
        }
      }
      &:last-child {
        padding-right: 0;
        @include x-small {
          height: 320px;
        }
        @include retina {
          height: 268px;
        }
        #{$vmi} {
          &__el {
            height: 336px;
            @include large {
              height: 280px;
            }
            @include medium {
              height: 100%;
            }
          }
        }
      }
    }
  }
  &__text {
    flex: 1;
  }
  &__row {
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        @include font-size(h5);
        margin-bottom: 8px;
        padding-left: 24px;
        @include font-icon;
        @include font-icon-set(polygon, before, 0.8rem);
        &::before {
          position: absolute;
          top: 12px;
          left: 0;
          color: color(primary, 9);
        }
        &:last-child {
          margin-bottom: 0;
        }
        @include x-small {
          @include font-size(h6);
        }
        @include retina {
          @include font-size(body);
        }
      }
    }
  }
  &__title {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 12px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: solid 1px color(primary, 9);
    }
  }
  &__desc {
    @include font-size(h5);
    @include x-small {
      @include font-size(h6);
    }
    @include retina {
      @include font-size(body);
    }
  }
}
