/* ==========================================================================
   Elements Button
   ========================================================================== */

.btn {
  $b: &;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  outline: 0;
  border: 0;
  text-decoration: none;
  padding: 14px 23px 12px;
  min-width: 200px;
  border: solid 1px color(neutral, 1);
  color: color(primary, 9);
  background-color: color(primary, 9);
  overflow: hidden;
  @include font-size(button-large);
  @include radius(xl);
  transition: all 0.4s ease;
  @include small {
    padding: 12px 15px 10px;
    @include font-size(button-medium);
    min-width: 180px;
  }
  &:hover {
    color: color(neutral, 1);
    &::before {
      transform: translate3d(0, -100%, 0);
    }
    .fi {
      animation: slide2 1s ease-in-out infinite;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(neutral, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  span,
  .fi {
    position: relative;
    z-index: 2;
  }
  .fi {
    transition: transform 0.3s ease;
  }
  @keyframes slide2 {
    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(4px, -4px);
    }
  }
}
