//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

='\n\n'
//.hero-banner
.hero-banner.js-hero-banner
  ='\n'
  //.hero-banner__inner
  .hero-banner__inner
    .hero-banner__frame
      ='\n'
      video.hero-banner__video(loop="" muted="" playsinline="" autoplay)
        ='\n'
        source(src=data.video type="video/mp4")
        p Your browser does not support the video tag.
    .hero-banner__content
      .container
        h2.hero-banner__title= data.title
    .hero-banner__btn
      ='\n'
      button.hero-banner__btn__rounded.js-scroll-down(type='button')
        ='\n'
        i.fi.fi-caret-down
        ='\n'
