/* ==========================================================================
   About Management
   ========================================================================== */

.about-manage {
  position: relative;
  overflow: hidden;
  padding: 64px 0 104px;
  @include large {
    padding: 56px 0 96px;
  }
  @include medium {
    padding: 48px 0 88px;
  }
  @include small {
    padding: 40px 0 72px;
  }
  @include x-small {
    padding: 32px 0 56px;
  }
  &__head {
    margin-bottom: 56px;
    @include large {
      margin-bottom: 48px;
    }
    @include medium {
      margin-bottom: 40px;
    }
    @include small {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
    }
  }
  &__title {
    color: color(primary, 9);
    margin-bottom: 0;
    @include small {
      @include font-size(h3);
    }
    @include retina {
      @include font-size(h4);
    }
  }
  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }
    .owl-stage {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
    }
    .owl-item {
      max-width: 840px;
      height: 450px;
      transition: all 0.75s ease;
      .about-card {
        height: 100%;
        // &__box {
        // }
        &__text {
          opacity: 1;
          transform: scaleX(1);
          transform-origin: right center;
        }
      }
      &.active ~ .owl-item {
        max-width: 384px;
        .about-card {
          // &__box {
          // }
          &__text {
            opacity: 0;
            transform: scaleX(0);
          }
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: color(primary, 9);
        color: color(neutral, 1);
        @include font-size(h3);
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.35s ease;
        &.disabled {
          opacity: 0;
          visibility: hidden;
          &.owl-prev {
            transform: translateX(-8px);
          }
          &.owl-next {
            transform: translateX(8px);
          }
        }
      }
    }
  }
}
