//-------------------------------------------------------------------------------
  @name: About Management
  -------------------------------------------------------------------------------//

='\n\n'
//.about-manage
.about-manage
  .container
    .about-manage__inner
      .about-manage__head
        h2.about-manage__title= data.title
      .about-manage__list.js-about-management
        each val in data.list
          - data = val;
          include ../AboutCard/html.pug
