//-------------------------------------------------------------------------------
  @name: Gallery
  -------------------------------------------------------------------------------//

-
  data = [
    {
      img: 'assets/img/dummy/gallery-1.jpg',
      alt: 'gallery 1'
    },
    {
      img: 'assets/img/dummy/gallery-2.jpg',
      alt: 'gallery 2'
    },
    {
      img: 'assets/img/dummy/gallery-3.jpg',
      alt: 'gallery 3'
    },
    {
      img: 'assets/img/dummy/gallery-4.jpg',
      alt: 'gallery 4'
    },
  ]

include ../../components/Gallery/html.pug
