//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = {
    video: 'assets/video/banner.mp4',
    title: 'Pemimpin Inovasi Coal to Chemicals dan Energi Hijau di Indonesia'
  };

include ../../components/HeroBanner/html.pug
