//-------------------------------------------------------------------------------
  @name: Short Report
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Laporan Perusahaan',
    list: [
      {
        name: 'Laporan Tahunan',
        icon: 'chart-bar',
        items: [
          {
            img: 'assets/img/dummy/annual-report.jpg',
            title: 'Laporan Tahunan 2023',
            icon: 'chart-bar',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
          {
            img: 'assets/img/dummy/annual-report.jpg',
            title: 'Laporan Tahunan 2022',
            icon: 'chart-bar',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
        ]
      },
      {
        name: 'Laporan Keuangan',
        icon: 'coin',
        items: [
          {
            title: 'Laporan Keuangan 31 Maret 2024',
            icon: 'coin',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
          {
            title: 'Laporan Keuangan 31 Maret 2024',
            icon: 'coin',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
        ]
      },
      {
        name: 'Laporan Keberlanjutan',
        icon: 'flower-tulip',
        items: [
          {
            img: 'assets/img/dummy/sustainability-report.jpg',
            title: 'Laporan Keberlanjutan PT Aracord 2024',
            icon: 'flower-tulip',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
          {
            img: 'assets/img/dummy/sustainability-report.jpg',
            title: 'Laporan Keberlanjutan PT Aracord 2024',
            icon: 'flower-tulip',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
        ]
      },
      {
        name: 'Pengungkapan Informasi',
        icon: 'folder',
        items: [
          {
            img: 'assets/img/dummy/information-disclosure.jpg',
            title: 'Keterbukaan Informasi Publik Aracord Tbk 2024',
            icon: 'folder',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
          {
            img: 'assets/img/dummy/information-disclosure.jpg',
            title: 'Keterbukaan Informasi Publik Aracord Tbk 2024',
            icon: 'folder',
            btn: {
              to: 'https://morth.nic.in/sites/default/files/dd12-13_0.pdf',
              text: 'Selengkapnya'
            }
          },
        ]
      },
    ]
  };

include ../../components/ShortReport/html.pug
