//-------------------------------------------------------------------------------
  @name: Short Service
  -------------------------------------------------------------------------------//

-
  data = {
    img: 'assets/img/dummy/short-logistic-solution.jpg',
    title: 'Solusi Bisnis Terintegrasi untuk Masa Depan Energi',
    list: [
      {
        img: 'assets/img/dummy/short-logistic-solution.jpg',
        title: 'Solusi Logistik',
        content: '<p>Solusi transportasi berbasis truk listrik hadir sebagai jawaban atas kebutuhan logistik modern yang hemat energi dan ramah lingkungan. Melalui sistem pengisian daya dan penukaran baterai, model ini memungkinkan transisi energi secara bertahap dari bahan bakar fosil menuju energi bersih.</p>',
        btn: {
          to: 'solusi-logistik.html',
          text: 'Selengkapnya'
        }
      },
      {
        img: 'assets/img/dummy/short-electricity-solution.jpg',
        title: 'Solusi Listrik',
        content: '<p>Solusi kelistrikan modern ini mengintegrasikan proses pirolisis batu bara dengan sistem pembangkit listrik berbahan bakar gas sintetis (syngas). Batu bara diubah menjadi syngas melalui gasifikasi suhu tinggi, kemudian dimurnikan dari polutan sebelum digunakan untuk menggerakkan turbin gas.</p>',
        btn: {
          to: 'solusi-listrik.html',
          text: 'Selengkapnya'
        }
      },
      {
        img: 'assets/img/dummy/short-logistic-solution.jpg',
        title: 'Solusi Pertambangan',
        content: '<p>Solusi kelistrikan modern ini mengintegrasikan proses pirolisis batu bara dengan sistem pembangkit listrik berbahan bakar gas sintetis (syngas). Batu bara diubah menjadi syngas melalui gasifikasi suhu tinggi, kemudian dimurnikan dari polutan sebelum digunakan untuk menggerakkan turbin gas.</p>',
        btn: {
          to: 'solusi-pertambangan.html',
          text: 'Selengkapnya'
        }
      },
    ]
  };

include ../../components/ShortService/html.pug
