//-------------------------------------------------------------------------------
  @name: Short About
  -------------------------------------------------------------------------------//

-
  data = {
    img: 'assets/img/dummy/short-about.jpg',
    title: 'Solusi Inovatif untuk Konversi Batubara dan Energi Hijau',
    description: '<p>PT Aracord Nusantara Group Tbk (RONY) adalah perusahaan investasi terdaftar yang menyediakan solusi konversi batubara mutakhir dan energi hijau, mendukung keberlanjutan industri energi Indonesia.</p>',
    btn: {
      to: 'solusi-listrik.html',
      text: 'Selengkapnya'
    }
  };

include ../../components/ShortAbout/html.pug
