//-------------------------------------------------------------------------------
  @name: Short News
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Berita dan Acara',
    list: [
      {
        img: 'assets/img/dummy/news-1.jpg',
        label: 'Berita 23 Juni 2025',
        title: 'Dorong Inovasi Energi Bersih, PT Aracord Nusantara Group Perluas Implementasi Truk Listrik di Kawasan Industri',
        btn: {
          to: 'news-detail.html',
          text: 'Selengkapnya'
        }
      },
      {
        img: 'assets/img/dummy/news-2.jpg',
        label: 'Berita 24 Juni 2025',
        title: 'Dorong Inovasi Energi Bersih, PT Aracord Nusantara Group Perluas Implementasi Truk Listrik di Kawasan Industri',
        btn: {
          to: 'news-detail.html',
          text: 'Selengkapnya'
        }
      },
      {
        img: 'assets/img/dummy/news-3.jpg',
        label: 'Berita 25 Juni 2025',
        title: 'Dorong Inovasi Energi Bersih, PT Aracord Nusantara Group Perluas Implementasi Truk Listrik di Kawasan Industri',
        btn: {
          to: 'news-detail.html',
          text: 'Selengkapnya'
        }
      },
    ]
  };

include ../../components/ShortNews/html.pug
