//-------------------------------------------------------------------------------
  @name: Short News
  -------------------------------------------------------------------------------//

='\n\n'
//.short-news
.short-news
  .container
    .short-news__inner
      .short-news__head
        h2.short-news__title= data.title
      .short-news__body
        each val in data.list
          - data = val;
          include ../News/NewsCard/html.pug

