//-------------------------------------------------------------------------------
  @name: AboutHeadline
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Manajemen',
    list: [
      {
        img: 'assets/img/dummy/guang-chen.jpg',
        name: 'Guang Chen',
        position: 'Direktur Utama',
        description: '<p>profesional dengan pengalaman lebih dari dua dekade di industri batubara. Ia memiliki dua gelar sarjana dalam Teknik Pertambangan dan Manajemen Teknik, gelar magister dalam Teknik Pertambangan, dan saat ini sedang mengejar MBA Eksekutif di Universitas Fudan—meningkatkan kemampuan kepemimpinan strategis dan manajerialnya untuk melengkapi keahlian teknisnya. Chen telah memegang peran kepemimpinan yang menonjol, termasuk Direktur di Institut Desain dan Penelitian Batubara Taiyuan dan Insinyur Utama di sebuah grup pertambangan besar. Sebagai Insinyur Senior bersertifikat, ia telah berhasil memimpin desain dan pelaksanaan proyek pertambangan batubara berskala besar. Dikenal karena kekuatannya dalam manajemen proyek, perencanaan tambang, dan pengawasan teknis, Chen telah menerima penghargaan tingkat kementerian dan menulis beberapa publikasi tentang teknik pertambangan dan teknologi peledakan—memperkuat reputasinya sebagai ahli dan pemimpin yang dihormati di bidang ini.</p>',
      },
      {
        img: 'assets/img/dummy/cunfei-yu.jpg',
        name: 'Cunfei Yu',
        position: 'Direktur Utama',
        description: '<p>Cunfei Yu, berasal dari Provinsi Shanxi, Tiongkok, memiliki gelar sarjana dalam Administrasi Bisnis dari Universitas Sains dan Teknologi Shaanxi. Ia membawa pengalaman manajemen yang luas di sektor logistik dan energi, setelah menjabat sebagai Manajer Stasiun di Yangyuan Jintong Logistics Co., Ltd., dan sebagai Direktur Transportasi Kereta di sebuah perusahaan Energi. Sejak Maret 2022, ia memimpin Departemen Proyek Ekspansi Indonesia dalam Divisi Penjualan dan Pemasaran di sebuah perusahaan pertambangan besar Indonesia, mendorong pengembangan strategis dan inisiatif bisnis internasional. Yu diakui karena keterampilan kepemimpinannya yang kuat, dedikasi, dan kemampuannya untuk bekerja secara efektif dalam tim. Ia memiliki pola pikir proaktif, kemampuan pemecahan masalah yang sangat baik, dan secara konsisten memastikan efisiensi operasional yang tinggi serta keberhasilan pengiriman proyek.</p>',
      },
      {
        img: 'assets/img/dummy/surono-salem.jpg',
        name: 'Surono Salem',
        position: 'Komisaris',
        description: '<p>Surono Salem, adalah seorang profesional keuangan dan akuntansi berpengalaman dengan rekam jejak yang kuat di berbagai perusahaan terkemuka dan firma layanan profesional. Memegang gelar Sarjana Akuntansi dari Universitas Tarumanagara dan gelar Akuntan Publik Bersertifikat (CPA) dari Ikatan Akuntan Publik Indonesia (IAPI). Dengan pengalaman lebih dari 15 tahun, Surono telah memegang peran kepemimpinan kunci seperti Pengendali Keuangan di Masterbuilders Indonesia dan Manajer Keuangan di APP Sinarmas. Tahun-tahun dasarnya di PwC dan Ernst & Young memberinya keahlian yang kuat dalam audit, analisis keuangan, kepatuhan, dan perencanaan strategis—menetapkannya sebagai pemimpin yang mampu dan berorientasi hasil dalam operasi keuangan.</p>',
      },
      {
        img: 'assets/img/dummy/santoso-widjojo.jpg',
        name: 'Santoso Widjojo',
        position: 'Komisaris Independen',
        description: '<p>Santoso Widjojo, lahir di Pekalongan, Indonesia, ia memiliki gelar Sarjana dalam Teknik Mesin dari Universitas Katolik Atmajaya, Jakarta pada tahun 1984 dan kemudian melanjutkan gelar MBA dari Universitas Miami, AS pada tahun 1988. Widjojo memiliki peran Eksekutif Senior dengan lebih dari 35 tahun pengalaman kepemimpinan di sektor Pasar Modal, Perdagangan, dan Perhotelan, dikenal karena visi strategis, eksekusi yang kuat, dan memiliki jaringan luas di komunitas bisnis Indonesia. Ia memulai karir di Pasar Modal Indonesia ketika bergabung dengan Multicor Securities pada tahun 1990, kemudian menjadi Direktur Utama PT Peregrine Sewu Securities pada tahun 2000, selanjutnya ia menjabat sebagai Direktur Utama PT Dinamika Usahaja (anggota Grup Djarum) yang kemudian menjadi PT BCA Sekuritas hingga akhir 2012. Pada tahun 2013, ia menjadi komisaris PT Trisula Textile Industries dan kemudian pada 2018-2022 menjadi Direktur Utama PT Trisula International Tbk. Ia pernah menjabat sebagai Komisaris Utama PT Sequis Aset Management selama 2015 - 2023. Saat ini, ia adalah Komisaris Independen di PT Sunter Lakeside Hotel Tbk.</p>',
      },
    ]
  };

include ../../components/About/AboutManagement/html.pug
