//-------------------------------------------------------------------------------
  @name: AboutHeadline
  -------------------------------------------------------------------------------//

-
  data = {
    vision: {
      title: 'Visi',
      description: 'Memimpin transisi energi berkelanjutan Indonesia.'
    },
    mission: {
      title: 'Misi',
      list: [
        'Mengoptimalkan pemanfaatan sumber daya untuk manfaat ekonomi maksimal.',
        'Memecahkan tantangan energi tersulit klien kami.',
        'Membangun nilai ekonomi jangka panjang melalui investasi strategis.',
        'Mendorong kemajuan ekonomi inklusif di seluruh operasi kami.',
      ]
    },
    img1: 'assets/img/dummy/about-vm-1.jpg',
    img2:'assets/img/dummy/about-vm-2.jpg',
    img3:'assets/img/dummy/about-vm-3.jpg',
  };

include ../../components/About/AboutVisionMission/html.pug
