//-------------------------------------------------------------------------------
  @name: AboutHeadline
  -------------------------------------------------------------------------------//

-
  data = {
    caption: 'Siapa Kami',
    title: 'Mendorong Transformasi Energi Indonesia',
    description: '<p>PT Aracord Nusantara Group Tbk (kode saham: RONY) adalah perusahaan induk investasi terdaftar di Indonesia sekaligus penyedia solusi terpadu coal-to-chemicals dan energi hijau terkemuka, yang mengkhususkan diri dalam konversi dan pemanfaatan batubara berdaya tinggi. Dengan memanfaatkan teknologi kimia batubara mutakhir, kami mengubah batubara menjadi produk bernilai tambah tinggi, memperluas rantai nilai hilir batubara, serta menyediakan solusi komprehensif bagi klien industri pertambangan.</p>',
    imgLg: 'assets/img/dummy/about-h-lg.jpg',
    imgMd: 'assets/img/dummy/about-h-md.jpg',
  };

include ../../components/About/AboutHeadline/html.pug
