//-------------------------------------------------------------------------------
  @name: AboutHeadline
  -------------------------------------------------------------------------------//

-
  data = {
      img: 'assets/img/dummy/guang-chen.jpg',
      name: 'Guang Chen',
      position: 'Direktur Utama',
      content: '<p>profesional dengan pengalaman lebih dari dua dekade di industri batubara. Ia memiliki dua gelar sarjana dalam Teknik Pertambangan dan Manajemen Teknik, gelar magister dalam Teknik Pertambangan, dan saat ini sedang mengejar MBA Eksekutif di Universitas Fudan—meningkatkan kemampuan kepemimpinan strategis dan manajerialnya untuk melengkapi keahlian teknisnya. Chen telah memegang peran kepemimpinan yang menonjol, termasuk Direktur di Institut Desain dan Penelitian Batubara Taiyuan dan Insinyur Utama di sebuah grup pertambangan besar. Sebagai Insinyur Senior bersertifikat, ia telah berhasil memimpin desain dan pelaksanaan proyek pertambangan batubara berskala besar. Dikenal karena kekuatannya dalam manajemen proyek, perencanaan tambang, dan pengawasan teknis, Chen telah menerima penghargaan tingkat kementerian dan menulis beberapa publikasi tentang teknik pertambangan dan teknologi peledakan—memperkuat reputasinya sebagai ahli dan pemimpin yang dihormati di bidang ini.</p>',
  };

include ../../components/About/AboutPopup/html.pug
