/* ==========================================================================
   Elements Icon
   ========================================================================== */

$icons: (
  add: unquote('"\\e900"'),
  arrow-up-right: unquote('"\\e901"'),
  battery-charging: unquote('"\\e902"'),
  caret-double-left: unquote('"\\e903"'),
  caret-double-right: unquote('"\\e904"'),
  caret-down: unquote('"\\e905"'),
  caret-left: unquote('"\\e906"'),
  caret-right-bold: unquote('"\\e907"'),
  caret-right: unquote('"\\e908"'),
  caret-up: unquote('"\\e909"'),
  chart-bar: unquote('"\\e90a"'),
  chart-line: unquote('"\\e90b"'),
  check-circle: unquote('"\\e90c"'),
  check-empty: unquote('"\\e90d"'),
  check: unquote('"\\e90e"'),
  close: unquote('"\\e90f"'),
  cloud-arrow-down: unquote('"\\e910"'),
  cloud-upload-outlined: unquote('"\\e911"'),
  clover: unquote('"\\e912"'),
  coin: unquote('"\\e913"'),
  delete-outlined: unquote('"\\e914"'),
  edit: unquote('"\\e915"'),
  edit-outlined: unquote('"\\e916"'),
  email: unquote('"\\e917"'),
  eye-invisible-outlined: unquote('"\\e918"'),
  eye-outlined: unquote('"\\e919"'),
  facebook: unquote('"\\e91a"'),
  factory: unquote('"\\e91b"'),
  file-text-outlined: unquote('"\\e91c"'),
  flower-tulip: unquote('"\\e91d"'),
  folder: unquote('"\\e91e"'),
  gear: unquote('"\\e91f"'),
  home-outlined: unquote('"\\e920"'),
  instagram: unquote('"\\e921"'),
  leaf: unquote('"\\e922"'),
  link: unquote('"\\e923"'),
  location: unquote('"\\e924"'),
  mines: unquote('"\\e925"'),
  note: unquote('"\\e926"'),
  phone: unquote('"\\e927"'),
  radio-btn-fill: unquote('"\\e928"'),
  radio-btn: unquote('"\\e929"'),
  seal-check: unquote('"\\e92a"'),
  search: unquote('"\\e92b"'),
  sort-descending: unquote('"\\e92c"'),
  trash: unquote('"\\e92d"'),
  user-outlined: unquote('"\\e92e"'),
  whatsapp: unquote('"\\e92f"'),
  x-circle: unquote('"\\e930"'),
  x: unquote('"\\e931"'),
  youtube: unquote('"\\e932"'),
  polygon: unquote('"\\e933"')
);

.fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: ff(icon);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $name, $code in $icons {
  .fi-#{$name}:before {
    content: $code;
  }
}
