/* ==========================================================================
   Gallery
   ========================================================================== */

.gallery {
  position: relative;
  overflow: hidden;
  padding: 64px 0 56px;
  @include large {
    padding: 56px 0 48px;
  }
  @include medium {
    padding: 48px 0 40px;
  }
  @include small {
    padding: 40px 0 32px;
  }
  @include x-small {
    padding: 32px 0 24px;
  }
  &__list {
    display: flex;
    margin-bottom: 24px;
    @include x-small {
      margin-bottom: 16px;
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    @include radius(sm);
    width: 904px;
    height: 504px;
    @include large {
      width: 724px;
      height: 440px;
    }
    @include medium {
      width: 544px;
      height: 376px;
    }
    @include small {
      width: 480px;
      height: 312px;
    }
    @include x-small {
      width: 360px;
      height: 248px;
    }
    @include retina {
      width: 280px;
      height: 228px;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__progress {
    &__inner {
      max-width: 904px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__wrap {
      flex: 1;
      position: relative;
      height: 2px;
      margin: 0 16px;
      overflow: hidden;
      background: color(neutral, 4);
      @include radius(xs);
    }
    &__bar {
      width: 0%;
      height: 100%;
      background: color(primary, 9);
      @include radius(xs);
      transition: width 0.35s;
    }
    &__current,
    &__total {
      @include font-size(caption);
      font-weight: fw(semi-bold);
      text-align: center;
    }
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  }
}
