/* ==========================================================================
   Short Service
   ========================================================================== */

.short-service {
  position: relative;
  overflow: hidden;
  padding: 96px 0 104px;
  @include large {
    padding: 72px 0 80px;
  }
  @include medium {
    padding: 64px 0 72px;
  }
  @include small {
    padding: 56px 0 64px;
  }
  @include x-small {
    padding: 48px 0 56px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 710px;
    height: 521px;
    z-index: 1;
    background-image: url('../img/illustration/diamond-1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 499px;
    height: 388px;
    z-index: 1;
    background-image: url('../img/illustration/diamond-2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include medium {
      content: none;
    }
  }
  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include medium {
      flex-direction: column;
    }
  }
  &__text {
    width: 50%;
    margin-right: 64px;
    @include medium {
      width: 100%;
      margin-right: 0;
    }
  }
  &__img {
    flex: 1;
    height: auto;
    @include radius(md);
    overflow: hidden;
    @include medium {
      display: none;
    }
    &__el {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition: all 0.35s ease 0s;
      &.is-visible {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-delay: 0.3s;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    @include large {
      margin-bottom: 32px;
    }
    @include small {
      @include font-size(h3);
      margin-bottom: 24px;
    }
    @include retina {
      @include font-size(h4);
    }
  }
  &__acc {
    $acc: &;
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: solid 1px color(neutral, 3);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__head {
      margin-bottom: 8px;
    }
    &__body {
      display: none;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include font-size(h5);
      font-weight: fw(regular);
      margin-bottom: 0;
      cursor: pointer;
      transition: all 0.35s ease;
      @include remove-tap-highlight;
      @include retina {
        @include font-size(h6);
      }
      .expanded & {
        font-weight: fw(semi-bold);
        color: color(primary, 9);
        .fi {
          transform: rotate(-90deg);
          transition-delay: 0.2s;
        }
      }
      .fi {
        transition: all 0.35s ease 0.1s;
      }
    }
    &__desc {
      padding-left: 20px;
      padding-right: 24px;
      margin-bottom: 12px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition: all 0.35s ease 0s;
      @include multiline-ellipsis(3);
      @include medium {
        transform: translateY(-8px);
      }
      .expanded & {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-delay: 0.3s;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__btn {
      padding-left: 20px;
      padding-right: 24px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition: all 0.35s ease 0s;
      @include medium {
        transform: translateY(-8px);
        margin-bottom: 24px;
      }
      @include small {
        margin-bottom: 16px;
      }
      .expanded & {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-delay: 0.3s;
      }
    }
    &__img {
      display: none;
      @include medium {
        display: block;
        width: 100%;
        height: auto;
        @include radius(md);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-8px);
        transition: all 0.35s ease 0s;
        .expanded & {
          opacity: 1;
          visibility: visible;
          transform: none;
          transition-delay: 0.3s;
        }
      }
      &__el {
        @include medium {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
