//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

='\n\n'
//.footer
.footer
  .footer__top
    .container
      .footer__inner
        //.footer__about
        .footer__about
          ='\n'
          //.footer__logo
          .footer__logo
            ='\n'
            a.footer__logo__link(href='/')
              ='\n'
              img.footer__logo__img(src='assets/img/logo/aracord-w.svg', alt='Aracord')
              ='\n'
          ='\n'
          //.footer__address
          .footer__address
            p.footer__address__text Menara Astra Lantai 23 Zone F, Jl. Jenderal Sudirman Kav 5-6, RT 010 RW 006, Kel. Karet Tengsin, Kec. Tanah Abang, Jakarta Pusat 10220
        ='\n'
        //.footer__nav
        .footer__nav.js-footer-acc
          -
            footerMenu = [
              {
                title: 'Bisnis Kami',
                list: [
                  {
                    to: 'solusi-utama.html',
                    text: 'Solusi Utama',
                  },
                  {
                    to: 'solusi-logistik.html',
                    text: 'Solusi Logistik',
                  },
                  {
                    to: 'solusi-listrik.html',
                    text: 'Solusi Listrik',
                  },
                  {
                    to: 'solusi-pertambangan.html',
                    text: 'Solusi Pertambangan',
                  },
                ]
              },
              {
                title: 'Hubungan Investor',
                list: [
                  {
                    to: 'laporan-tahunan.html',
                    text: 'Laporan Tahunan',
                  },
                  {
                    to: 'laporan-keuangan.html',
                    text: 'Laporan Keuangan',
                  },
                  {
                    to: 'laporan-keberlanjutan.html',
                    text: 'Laporan Keberlanjutan',
                  },
                  {
                    to: 'pengungkapan-informasi.html',
                    text: 'Pengungkapan Informasi',
                  },
                ]
              },
              {
                title: 'Tentang Kami',
                list: [
                  {
                    to: 'tentang-kami.html#who-we-are',
                    text: 'Siapa Kami',
                  },
                  {
                    to: 'tentang-kami.html#visi-misi',
                    text: 'Visi Misi',
                  },
                  {
                    to: 'tentang-kami.html#management',
                    text: 'Manajemen',
                  },
                ]
              },
              {
                title: 'Media Sosial',
                sosmed: [
                  {
                    to: 'youtube.com',
                    icon: 'youtube',
                  },
                  {
                    to: 'facebook.com',
                    icon: 'facebook',
                  },
                  {
                    to: 'whatsapp.com',
                    icon: 'whatsapp',
                  },
                  {
                    to: 'instagram.com',
                    icon: 'instagram',
                  },
                  {
                    to: 'x.com',
                    icon: 'x',
                  },
                ]
              },
            ];
          each val in footerMenu
            .footer__nav__row
              h6.footer__nav__title(class=(val.list ? 'collapsed' : ''))= val.title
              if val.sosmed
                ul.footer__nav__sosmed
                  each item in val.sosmed
                    ='\n'
                    li.footer__nav__sosmed__item(class=(item.icon))
                      ='\n'
                      a.footer__nav__sosmed__link(href=item.to)
                        ='\n'
                        i(class='fi fi-'+item.icon)
                      ='\n'
              else
                ul.footer__nav__list
                  each item in val.list
                    ='\n'
                    li.footer__nav__item
                      ='\n'
                      a.footer__nav__link(href=item.to)= item.text
                      ='\n'
  .footer__bottom
    .container
      .footer__inner
        ='\n'
        //.footer__copyright
        .footer__copyright
          p.footer__copyright__text
            | &copy; 2025 Aracord 2025
='\n'
