//-------------------------------------------------------------------------------
  @name: Short report
  -------------------------------------------------------------------------------//

='\n\n'
//.short-report
.short-report.js-short-report-acc
  .container
    .short-report__inner
      h2.short-report__title= data.title
      ul.short-report__acc
        each val, idx in data.list
          li.short-report__acc__item
            .short-report__acc__head
              h6.short-report__acc__title
                span(class='fi fi-'+val.icon)
                span= val.name
                i.fi.fi-caret-down
            .short-report__acc__body
              .short-report__acc__list
                each item in val.items
                  - data = item;
                  include ../Report/ReportCard/html.pug

